.nav-download-image-container {
    max-width: 4vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-download-image {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}

.nav-download-image:hover {
    transition: transform 0.5s;
    transform: scale(1.2);
    backface-visibility: hidden;
}